@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
  --white: #fff;
  --black: #000;
  --gray: #888;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --white: #fff;
    --black: #000;
    --gray: #888;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

select,
.filter-toggle {
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 0.75rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  transition: background 0.2s, color 0.2s;
}

@media (prefers-color-scheme: dark) {
  select,
  .filter-toggle {
    background: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
  }
}
